<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Search</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body id="home-page">
    <div class="container">
        <header>
            <h1>GUESS THE WORD</h1>
        </header>
        <main>
            <h2>What mode are you up for?</h2>
            <form action="/" method="POST">
                <button type="submit">CHILL</button>
            </form>
            <form action="/" method="POST">
                <button type="submit">STANDARD</button>
            </form>
            <form action="/" method="POST">
                <button type="submit">INSANITY</button>
            </form>
        </main>
    </div>
</body>

</html>