@font-face {
    font-family: tagtype-freefont;
    src: url("../fonts/tagtype-freefont.ttf");
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: url("../img/graffiti-background.jpeg");
    background-size: cover;
    color: white;
}

.container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(24, 43, 43, .4);
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

h1 {
    font-family: tagtype-freefont;
    font-size: 5em;
    margin: .5em;
    text-shadow: 6px 6px 0px rgba(24, 43, 43, 0.4);
}

h2 {
    font-family: tagtype-freefont;
    font-size: 4em;
    margin: .5em;
    text-shadow: 6px 6px 0px rgba(24, 43, 43, 0.4);
}

h4 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: lighter;
    font-size: 1.2em;
    margin: 0 auto;
}

p {
    font-family: tagtype-freefont;
    font-size: 3em;
    text-shadow: 6px 6px 0px rgba(24, 43, 43, 0.3);
    margin: .7em;
}

button {
    font-size: 1.5em;
    font-size: 2em;
    border-radius: 30px 30px 30px 30px;
    padding: 1em;
    color: whitesmoke;
    border: 2px solid darkslategray;
    width: 28vw;
    width: 40vw;
    cursor: pointer;
    outline: none;
    background-color: rgba(24, 43, 43, .8);
    transition: .4s ease;
}

button:hover {
    background-color: #182B2B;
    transform: scale(1.1);
}

main {
    margin: 7em auto;
}

input {
    font-size: 1.5em;
    flex: 2;
    margin: 1em;
    text-align: center;
    transition: .5s ease;
    background-color: rgba(24, 43, 43, .0);
    border: none;
    border-bottom: 1px solid white;
    color: whitesmoke;
    outline: none;
    padding: .5em;
}

::-webkit-input-placeholder {
    color: white;
}

.guess-button {
    padding: .5em;
    margin: 0 2em 1em 2em;
    margin: 1em;
    flex: 2;
    background-color: #1D3333;
}

.playagain-button {
    padding: 1em;
    margin: .5em;
    flex: 2;
    background-color: rgba(24, 43, 43, .95);
}

form {
    margin: 1em;
}

.guess-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
}

.playagain {
    background-color: rgba(24, 43, 43, .55);
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
}

.playagain>h2 {
    margin: 0.3em;
}

.playagain>h4 {
    margin: .5em;
}

.errors {
    font-size: 2em;
    margin: 0 auto;
}